.hero {
    height: 90vh;
    background: url('../../../assets/image/bg01.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero {
    height: 100vh;
    background-image: url('../../../assets/image/bg01.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .hero-text h1 {
    font-size: 3rem;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 12px;
  }